# Programming Assignment: Составление фондового индекса
# Stock Index Creation

In [1]:
import numpy as np
import pandas

1- Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.

1- Load the close_prices.csv data. This file shows the prices of shares of 30 companies at the close of trading for each day of the period.

In [2]:
data=pandas.read_csv('close_prices.csv',index_col="date")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 374 entries, 2013-09-23 to 2015-03-18
Data columns (total 30 columns):
AXP     374 non-null float64
BA      374 non-null float64
CAT     374 non-null float64
CSCO    374 non-null float64
CVX     374 non-null float64
DD      374 non-null float64
DIS     374 non-null float64
GE      374 non-null float64
GS      374 non-null float64
HD      374 non-null float64
IBM     374 non-null float64
INTC    374 non-null float64
JNJ     374 non-null float64
JPM     374 non-null float64
KO      374 non-null float64
MCD     374 non-null float64
MMM     374 non-null float64
MRK     374 non-null float64
MSFT    374 non-null float64
NKE     374 non-null float64
PFE     374 non-null float64
PG      374 non-null float64
T       374 non-null float64
TRV     374 non-null float64
UNH     374 non-null float64
UTX     374 non-null float64
V       374 non-null float64
VZ      374 non-null float64
WMT     374 non-null float64
XOM     374 non-null float64
dtypes: float64(30)
memory usage: 90.6+ KB

In [4]:
data.describe()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,...,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,87.402139,130.740615,95.442888,24.434225,118.737513,67.156710,83.707273,25.846471,173.424144,87.340000,...,30.764465,82.720401,34.505775,93.444626,84.916257,112.316337,223.837246,48.616952,78.464171,95.183717
std,4.956179,8.478527,9.186264,2.296246,7.549846,4.986296,10.315030,0.946131,11.532799,11.727553,...,1.539853,3.980454,1.069843,8.018940,13.071112,5.274900,23.401029,1.401023,4.173109,5.044250
min,72.220001,114.470001,78.449997,20.240000,100.860001,56.939998,63.590000,23.570000,152.720001,74.139999,...,27.700001,75.589996,31.860001,80.260002,66.940002,99.169998,182.529999,45.419998,71.870003,83.870003
25%,84.504999,125.375000,86.055002,22.642499,113.904999,63.997499,76.287497,25.270000,163.505001,78.817503,...,29.592500,79.930000,33.842500,86.687500,74.692501,108.502500,209.077500,47.437500,75.620003,91.569998
50%,88.120003,129.069999,96.340001,24.500000,119.215000,66.675002,84.020001,25.905000,171.899994,81.005001,...,30.605001,81.805001,34.660000,92.854999,81.479999,112.970001,215.479996,48.785000,77.059998,95.079998
75%,90.977502,134.010006,103.659999,25.677500,124.220003,70.477504,90.347497,26.580000,183.535003,96.062498,...,31.805000,84.690002,35.279999,99.987499,93.812498,116.565001,240.234993,49.675000,79.907501,99.452499
max,95.839996,158.309998,111.400002,30.190001,134.850006,80.499997,107.970001,28.030001,196.889999,116.750000,...,34.869999,93.459999,36.740002,109.519997,119.959999,124.110001,278.290009,51.970001,90.470001,104.379997

In [5]:
data.head()

,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,HD,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,75.910004,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,76.040001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,75.519997,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,76.070000,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,75.959999,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

2- На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?

2- On the downloaded data, teach the PCA conversion with a component number of 10. How many components are sufficient to account for 90% of the variance?

In [6]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
pca.fit(data)

var=pca.explained_variance_ratio_
kans=0
for k in range(10):
    if sum(var[:k])>=0.9:
        kans=k
        break

from lib.helpersmd import write_to_file
write_to_file(kans,"week%d-A%dT%d.out"%(4,2,1))

3- Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.

3- Apply the constructed transformation to the original data and take the values ​​of the first component.

In [7]:
from pandas import DataFrame
X=DataFrame(pca.transform(data))
X1=X[0]
print X1.shape

(374,)

4- Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?

4- Load the Dow Jones index information from the djia_index.csv file. What is the Pearson correlation between the first component and the Dow Jones index?

In [8]:
djia=pandas.read_csv('djia_index.csv')

In [9]:
djia.describe()

               ^DJI
count    374.000000
mean   16716.619477
std      780.265660
min    14776.530273
25%    16200.592529
50%    16655.525390
75%    17194.407227
max    18288.630859

In [10]:
djia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 2 columns):
date    374 non-null object
^DJI    374 non-null float64
dtypes: float64(1), object(1)
memory usage: 5.9+ KB

In [11]:
corr= np.corrcoef(djia['^DJI'],X1)[0][1]
print corr 
write_to_file("{:.2f}".format(corr),"week%d-A%dT%d.out"%(4,2,2))

0.909652219305

5- Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

5- Which company has the largest weight in the first component? Specify its name with a capital letter.

In [12]:
part=np.array(pca.components_[0])
im=part.argmax()
comp= data.columns[im]
write_to_file(comp,"week%d-A%dT%d.out"%(4,2,3))